.show-selected-files {
  position: relative;
  z-index: 100;
}

.file-info {
  display: flex;
  width: fit-content;
  justify-content: center;
  height: fit-content;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
  background-color: #f4f5ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    border: 1px solid #444df2;
    background-color: #e2e6ff;
    box-shadow: 0 4px 10px rgba(68, 77, 242, 0.2);
    span {
      color: white;
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
  }
}

.file-box {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.delet-box {
  position: absolute;
  top: -10px;
  right: -10px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: #444df2;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  font-size: 12px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #3038a6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1);
  }
}

.file-box:hover .delet-box {
  opacity: 1;
  transform: scale(1);
}

.delete-span {
  line-height: 1;
  font-size: 18px;
  cursor: pointer;
}

.file-name {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-info-mix {
  display: flex;
  max-width: max-content;
  justify-content: center;
  height: 59px;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  top: 100px;
  img {
    width: 50px;
    height: 50px;
  }
}

.mix-file {
  position: relative;
  top: -6px;
  display: flex;
  flex-direction: column;
}

@import "./mobile-view-styling/files-preview.mobile.scss";
