<div class="show-selected-files">
  <div *ngFor="let file of selectedFiles; let i = index">
    <!--  für Bilder -->
    <div class="file-info" *ngIf="file.type.startsWith('image/')">
      <div class="file-box">
        <img [src]="file.data" alt="Image preview">
        <div class="file-name">{{ file.name }}</div>
        <div class="delete-box" (click)="deleteFile(i)">
          <span class="delete-span">x</span>
        </div>
      </div>
    </div>

    <!-- für PDFs -->
    <div class="file-info" *ngIf="file.type === 'application/pdf'">
      <div class="file-box">
        <img src="assets/img/pdf.png" alt="PDF preview">
        <div class="file-name">{{ file.name }}</div>
        <div class="delete-box" (click)="deleteFile(i)">
          <span class="delete-span">x</span>
        </div>
      </div>
    </div>
  </div>
</div>