.card {
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 23px;
}

.email-logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2px;
}

.email-title {
  font-size: 17px;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
  }
}

.status-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.email-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.status-row {
  display: flex;
  align-items: center;
  gap: 13px;
}

.online {
  display: block;
  background-color: #92c83e;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.offline {
  display: block;
  background-color: #757575;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.online-text {
  color: #92c83e;
}

.offline-text {
  color: #757575;
}

.button-row {
  display: flex;
  justify-content: center;
  button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.email {
  color: #444df2;
}

.contact-container {
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;

    .icon path {
      fill: #444df2;
    }
  }
}
