@media (max-width: 803px) {
  .submit-box {
    padding: 0 20px;
  }
  .email-info {
    padding: 0 20px;
  }
  .image-box {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 688px) {
  .email-card-content {
    span {
      font-size: 22px;
    }
  }
}
@media (max-width: 470px) {
  .title-info {
    h1 {
      font-size: 32px;
    }
  }
  .image-box {
    width: 280px;
  }
  .email-text-info {
    font-size: 16px;
  }

  .email-info {
    span {
      font-size: 16px;
    }
  }

  .button-box {
    button {
      font-size: 16px;
      padding: 10px 20px;
    }
  }

  .main-title {
    align-items: baseline;
    gap: 10px;
  }
}

@media (max-width: 379px) {
  .email-input {
    padding: 18px 32px 18px 62px;
    background-position: 15px center;
  }
  .email-card-content {
    gap: 11px;
    span {
      font-size: 16px;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 350px) {
  .mat-card {
    padding: 20px 0;
  }
}
