.main-div {
  height: 100vh;
  background-color: #eceefe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-box {
  position: absolute;
  top: 25px;
  left: 50px;
  img {
    object-fit: contain;
  }
}

.main-card {
  max-width: 698px;
  width: 90%;
  max-height: 469px;
  border-radius: 30px;
}

.mat-card {
  border: none;
  box-shadow: 0px 2px 10px 0px #00000014;
  padding: 40px 0;
  background-color: #ffffff;
  border-radius: 30px;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.card-content {
  padding: 0;
}

.svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 5px 5px;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;
  }
}

.icon path {
  fill: black;
}

.icon:hover path {
  fill: #444df2;
  border-radius: 100%;
  background-color: aqua;
  cursor: pointer;
}

.main-title {
  padding: 0 32px;
}

.main-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.title-info {
  margin: 0 auto;

  h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 55.2px;
    text-align: center;
    color: #444df2;
    cursor: default;
  }
}

.submit-box {
  padding: 0 138px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.false-email-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: red;
  cursor: default;
  text-align: left;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.reset-passwort-button {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid #686868;
  padding: 12px 25px;
  background-color: #686868;
  color: white;
  cursor: pointer;
}

.input-passwort {
  background-color: #eceefe;
  display: flex;
  gap: 10px;
  padding: 18px 32px;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: "Nunito";

  &:hover {
    outline: 2px solid grey;
  }

  &:focus {
    border-color: #444df2;
    outline: none;
  }
}

.reset-passwort-input {
  background-color: #eceefe;
  display: flex;
  gap: 10px;
  padding: 18px 32px;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  margin-top: 40px;
  font-family: "Nunito";

  &:hover {
    outline: 2px solid grey;
  }

  &:focus {
    border-color: #444df2;
    outline: none;
  }
}

.impressum-privacy-box {
  position: absolute;
  top: 100%;
  background-color: #eceefe;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.impressum-privacy-box {
  a {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 30px;
    color: #797ef3;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
      box-sizing: border-box;
      outline: 1px solid #797ef3;
      padding: 10px 15px;
      border-radius: 25px;
      color: #444df2;
    }
  }
}

.btn-primary-click {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  padding: 12px 25px;
  background-color: #444df2;
  color: white;
  cursor: pointer;
}

.verify-button-box {
  padding: 0 32px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.verify-email-text {
  display: flex;
  justify-content: center;
  padding: 0 32px;
  margin-top: 12px;
}

.verify-user-mail {
  margin-left: 4px;
}

.verify-text-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin-top: 32px;
}

p {
  font-size: 18px;
}

.email-sended-info {
  width: fit-content;
  background-color: #444df2;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;
  border-bottom-right-radius: unset;
  padding: 8px 20px;
  z-index: 4;
  position: fixed;
  bottom: 120px;
  right: 20px;
  opacity: 1;
}

.email-sended-info.visible {
  opacity: 1;
}

.email-sended-info.hidden {
 opacity: 0;
}

.sended-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  font-size: 22px;
}

.email-card-content {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 28px;
}

@media (max-width: 803px) {
  .submit-box {
    padding: 0 20px;
  }
  .image-box {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 688px) {
  .email-card-content {
    span {
      font-size: 18px;
    }
  }
}

@media (max-width: 620px) {
  .verify-email-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 32px;
  }
  .title-info {
    h1 {
      font-size: 34px;
    }
  }
}

@media (max-width: 470px) {
  .verify-text-info {
    padding: 0;
  }
  .button-box {
    button {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
  .svg-box {
    margin-left: 6px;
  }
  .main-title {
    align-items: center;
    gap: 10px;
    padding: 0;
  }
  p {
    max-width: 320px;
    text-align: center;
  }
}

@media (max-width: 379px) {
  .image-box {
    img {
      width: 260px;
    }
  }

  .email-card-content {
    gap: 11px;

    span {
      font-size: 16px;
    }
  }
  .verify-email-text {
    text-align: center;
    max-width: 320px;
    padding: 0;
  }
}
