mat-card {
  background-color: white;
  border-style: none;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-parent {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  backdrop-filter: blur(5px);
}

.header {
  flex: 0 0 102px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 5px 5px rgba(136, 136, 136, 0.25);
  width: 100%;
  z-index: 10;
  background-color: white !important;
  background: linear-gradient(
    to bottom,
    rgb(200 202 251),
    rgba(121, 126, 243, 0)
  );
  padding: 0 !important;
}

.big-chat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.big-chat-card > div:not(mat-card-header) > .big-chat-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.big-chat-card > mat-card-header {
  flex: 0 0 102px;
}

.big-chat-card > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.big-chat-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mat-mdc-card {
  border-style: none;
  border-radius: 30px;
}

.btn-text-img {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.user-chat-info {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  min-height: 58px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover {
    background: #eceefe;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    white-space: nowrap;
    &:hover {
      color: #444df2;
    }
  }
}

.drop-down-div {
  display: flex;
  align-items: center;
  height: 96px;
  position: absolute;
  left: 20px;
}

.members-container {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 50px;
  right: 25px;
  z-index: 10;
}

.member-avatars {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 3px 10px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background: #eceefe;
  }
  &:hover > .member-count span {
    color: #535af1;
  }
}

.member-count {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;
    .icon path {
      fill: #444df2;
    }
  }
}

.avatar-container {
  display: flex;
  align-items: center;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: -12px;
  border: 2px solid white;
  object-fit: cover;
}

.avatar:first-child {
  margin: 0;
}

.welcome-sheet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 2;
}

@import "./mobile-view-styling/start-screen.mobile.scss";
