mat-card {
  background-color: white;
  border-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 102px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 5px 5px rgba(136, 136, 136, 0.25);
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: white;
}

.header-chat-holder {
  display: flex;
  flex-direction: column;
  height: calc(880px - 107px);
}

.big-chat-card {
  position: relative;
  min-width: 990px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mat-mdc-card {
  border-style: none;
  border-radius: 30px;
}

.btn-text-img {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.user-chat-info {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-height: 58px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover {
    background: #eceefe;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    white-space: nowrap;
    &:hover {
      color: #444df2;
    }
  }
}

.drop-down-div {
  display: flex;
  align-items: center;
  height: 96px;
  position: absolute;
  left: 20px;
}

/* Avatar Members Section*/
.members-container {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 50px;
  right: 25px;
  z-index: 10;
}

.member-avatars {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 3px 10px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background: #eceefe;
  }
  &:hover > .member-count span {
    color: #535af1;
  }
}

.member-count {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.28px;
  text-align: left;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;
    .icon path {
      fill: #444df2;
    }
  }
}

.avatar-container {
  display: flex;
  align-items: center;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: -12px;
  border: 2px solid white;
  object-fit: cover;
}

.avatar:first-child {
  margin: 0;
}

.welcome-sheet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 2;
}

@media (max-width: 1800px) {
  .big-chat-card {
    min-width: auto;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .header-chat-holder {
    height: auto;
  }
  .welcome-sheet {
    left: -1px;
    width: 100vw;
  }
  .member-count {
    font-size: 15px;
  }
  .img-container {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .header {
    position: absolute;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    min-height: 66px;
    box-shadow: 0 2px 5px rgba(68, 77, 242, 0.41),
      0 2px 2px rgba(255, 255, 255, 0.5) inset;
  }
  .big-chat-card {
    height: auto;
    max-width: max-content;
    min-width: auto;
  }
  .btn-text-img {
    font-size: 18px;
  }
  .drop-down-div {
    left: 0;
  }
  .members-container {
    top: 18px;
  }
  .avatar {
    height: 30px;
    width: 30px;
  }
  app-channel-chat {
    display: flex;
    width: 100vw;
  }

  app-welcome-sheet {
    display: flex;
    width: 100vw;
  }
  .mat-mdc-button {
    margin-top: -14px;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  .header {
    min-height: 85px;
  }
  .btn-text-img {
    font-size: 21px;
  }
  .drop-down-div {
    left: 40px;
  }
  .members-container {
    top: 28px;
  }
  .avatar {
    height: 35px;
    width: 35px;
  }
  app-channel-chat {
    display: flex;
    width: 95vw;
  }

  app-welcome-sheet {
    display: flex;
    width: 95vw;
  }
  .mat-mdc-button {
    margin-top: 11px;
  }
}
