@media (min-width: 320px) and (max-width: 770px) {
  .main-input-area {
    border: none;
    border-top: 1px solid #adb0d9;
    border-radius: 0;
    height: auto;
  }
  .msg-input-ct {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

  }

  .error-message {
    font-size: 11px;
  }
  .emoji-picker {
    width: 95%;
    left: 0;
  }
  .chat-editable {
    font-size: 14px;
    height: 100px;
  }
  .plus {
    width: 20px;
  }
  .emoji-at-ct {
    div {
      img {
        width: 32px;
      }
    }
  }
  .msg-send {
    width: 28px;
    right: 10px;
  }
}
