.full-page-content {
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000014;
  border-radius: 30px;
  position: relative;
  height: 100vh;
  width: 510px;
}

.text-info-edit {
  position: relative;
  font-size: 12px;
  margin-top: 9px;
  font-family: "Nunito";
  text-align: center;
}

.mat-mdc-card {
  border-style: none;
  border-top-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  left: 100px;
  top: 34px;
  width: fit-content;
  white-space: nowrap;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.edit-message-content {
  color: #000000;
  width: 100%;
  max-height: 105px;
  max-width: 770px;
  overflow-wrap: break-word;
  max-height: max-content;
  span {
    padding: 7px;
  }
  &:hover {
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    span {
      color: #444df2;
      background-color: #eceefe;
      border: 0 solid;
      border-radius: 30px;
    }
  }
}

.edit-message {
  &:hover {
    .edit-messages-card {
      opacity: 1;
    }
  }
}

.separated-both-currentUser-reaction-right {
  display: flex;
  gap: 8px;
  position: relative;
  right: 18px;
  bottom: 30px;
  justify-content: end;
  align-items: center;
}

.two-both-selectedUser-reaction-left {
  position: relative;
  bottom: 55px;
  left: 32px;
}

.separated-both-selectedUser-reaction-left {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
  position: relative;
  bottom: 55px;
  left: 30px;
}

.current-thread-header {
  display: flex;
  align-items: center;
  gap: 16px;
  h4 {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }
  span {
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
    color: #686868;
  }
}

.overflow-container {
  overflow: scroll;
  height: 730px;
}

.sticker-hover-ct {
  height: fit-content;
}

.show-set {
  position: absolute;
  right: 20px;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  top: -22px;
  color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.img-flex-bar-options {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 3px 12px;
  gap: 3px;
  img {
    object-fit: contain;
  }
}

.edit-icon-holder {
  position: relative;
  svg {
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      border-radius: 100%;
      path {
        fill: #444df2;
      }
    }
  }
}

.edit-input {
  width: 88%;
  height: 148px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  resize: none;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  font-family: Nunito, "Helvetica Neue";
  font-size: 18px;
  overflow-y: auto;
  &:focus {
    border-color: #444df2;
    outline: none;
  }
}

.render-reaction-ct-recipient {
  display: flex;
  align-items: center;
  gap: 14px;
}

.full-reaction-flex {
  display: flex;
}

.emoji-holder {
  position: relative;
  display: flex;
  width: 46px;
  align-items: baseline;
  border: 1px solid #adb0d9;
  border-radius: 16px;
  padding: 5px;
  gap: 6px;
  &:hover {
    border-color: #444df2;
    cursor: pointer;
  }
}

.emojis-holder-both-two-single {
  bottom: 4px;
}
.both-two-single {
  bottom: 48px !important;
}

.all-emojis-container-flex {
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  gap: 6px;
}

.show-set-reverse {
  position: absolute;
  left: 25px;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  top: 0;
  color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
}

.headline-ct {
  display: flex;
  align-items: center;
  gap: 8px;
}

h3 {
  font-weight: 700;
  font-family: "Nunito";
  font-size: 24px;
}

.close-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-seperator {
  width: 100%;
  height: 4px;
  box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.258);
  margin-bottom: 8px;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 8px;
  img {
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
  }
}

.hashtag {
  font-family: "Nunito";
  color: #797ef3;
  font-size: 21px;
  font-weight: 600;
}

.all-thread-message-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  margin: 16px 0;
  max-height: 100%;
  overflow-y: auto;
}

.cu-msg-text {
  max-height: 105px;
  background-color: #797ef3;
  border-top-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  max-width: max-content;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  padding: 16px;
}

.reaction-icon-container-editMode {
  position: absolute;
  bottom: 45px;
  left: 5px;
  svg {
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      cursor: pointer;

      path {
        fill: #444df2;
      }
    }
  }
}

.add-reaction-cu-ct {
  svg {
    width: 36px;
    height: 36px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      cursor: pointer;

      path {
        fill: #444df2;
      }
    }
  }
}

.emoji-flex-right {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;
  bottom: 45px;
}

.reaction-name-info-ct-sender {
  display: flex;
  position: absolute;
  background-color: #444df2;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding: 8px 15px;
  color: white;
}

.both-reaction-info-ct.both-reaction-right {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  bottom: 40px;
  right: -28px;
}

.both-reaction-info-ct.both-reaction-left {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
  bottom: 76px;
  left: 35px;
}

.two-single {
  bottom: 5px !important;
}

.reaction-sender-selectedUser-left {
  bottom: 40px;
  left: 20px;
}

.reaction-sender-currentUser-right {
  bottom: 40px;
}

.line {
  width: 100%;
  border: 1px solid #adb0d9;
}

.day-span {
  border-radius: 30px;
  border: 1px solid #adb0d9;
  padding: 5px 15px;
  background-color: #ffffff;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: left;
  color: #000000;
}

.day-info {
  display: flex;
  align-items: center;
}

.new-day-info {
  margin-top: 40px;
  position: relative;
  top: -16px;
  padding: 0 35px;
}

.both-reaction-info-ct {
  visibility: hidden;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  text-align: center;
  right: 27px;
  background-color: #444df2;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  text-align: center;
  color: white;
}

.reaction-info-txt {
  font-size: 13px;
}

.react-emoji-value {
  margin-right: 6px;
}

.reaction-name-info-ct-recipient {
  display: flex;
  position: absolute;
  bottom: 44px;
  background-color: #444df2;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.chatpartner-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 30px 42px 30px;
  margin: 16px 0;
}

.color-separator {
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
  }
}

.option-flex {
  display: flex;
  position: absolute;
  right: 46px;
  bottom: 49px;
  gap: 10px;
}

.save-icon {
  object-fit: contain;
  width: 24px;
  padding: 2px;
  &:hover {
    background-color: #eceefe;
    border-radius: 50px;
  }
}

.cancel-icon{
  object-fit: contain;
  width: 22px;
  padding: 3px;
  &:hover {
    background-color: #eceefe;
    border-radius: 50px;
  } 
}

.message-holder {
  position: relative;
  padding: 15px 0 10px 0;
  right: 31px;
}

.message-content-bubble {
  position: relative;
  background-color: white;
  max-width: 278px;
  padding: 15px;
  margin-top: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.static-bubble {
  background-color: #eceefe;
  max-width: 278px;
  padding: 15px;
  margin-top: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cu-message-header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: row-reverse;
  position: relative;
  right: 35px;
  h4 {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }
}

.cu-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 0;
  margin: 16px 0;
}

.message-text {
  background-color: #eceefe;
  max-width: 278px;
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  color: #686868;
  position: relative;
  left: 8px;
}

.partner-message-header {
  display: flex;
  align-items: center;
  gap: 16px;
  h4 {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }
  span {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
    color: #686868;
  }
}

.img-container {
  padding: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
  }
  &:hover .icon path {
    fill: #535af1;
  }
}

.emoji-picker-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.emoji-picker {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.emoji-bubble {
  position: absolute;
  box-sizing: content-box;
  padding: 3px 13px;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  right: 48px;
  top: -24px;
}

.user-emoji-bubble {
  position: absolute;
  box-sizing: content-box;
  padding: 3px 13px;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  left: 24px;
  top: -24px;
  display: flex;
}

.input-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
}

svg {
  cursor: pointer;
}
