.full-page-content {
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000014;
  border-radius: 30px;
  position: relative;
  width: 510px;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.message-bubble {
  display: flex;
  flex-direction: column;
}

.text-info-edit {
  font-size: 12px;
  font-family: "Nunito";
  text-align: center;
  color: slategray;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.mat-mdc-card {
  border-style: none;
  border-top-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  left: 100px;
  top: 34px;
  width: fit-content;
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.edit-message-content {
  box-shadow: 0px 6px 14px 0px #00000033;
  color: #000000;
  width: 100%;
  padding: 2px 5px;
  overflow-wrap: break-word;
  border-top-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  &:hover {
    background-color: white;
    span {
      font-size: 12px !important;
      color: #444df2;
      background-color: #eceefe;
    }
  }
}

.edit-message-content span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 15px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.edit-messages-card {
  position: absolute;
  z-index: 2;
  font-size: 12px !important;
  top: 12px !important;
  left: 18px;
  white-space: nowrap;
}

.edit-message {
  &:hover {
    .edit-messages-card {
      opacity: 1;
    }
  }
}

.separated-both-currentUser-reaction-right {
  display: flex;
  gap: 8px;
  position: relative;
  right: 121px;
  bottom: 26px;
  justify-content: end;
  align-items: center;
}

.two-both-selectedUser-reaction-left {
  position: relative;
  bottom: 33px;
  left: 125px;
  max-height: 33px;
}

.separated-both-selectedUser-reaction-left {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
  position: relative;
  bottom: 33px;
  left: 125px;
}

.current-thread-header {
  display: flex;
  align-items: center;
  gap: 16px;
  h4 {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }
  span {
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
    color: #686868;
  }
}

.overflow-container {
  overflow-y: auto;
  height: 772px;
  scroll-behavior: smooth !important;
}

.show-set {
  position: absolute;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
  left: 7px;
  top: -7px;
  color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.last-emoji-holder {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.last-emoji-holder:hover {
  background-color: #eceefe;
}

.single-emoji {
  font-size: 14px;
}

.img-flex-bar-options {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 3px 12px;
  gap: 3px;
  img {
    object-fit: contain;
  }
}

.edit-icon-holder {
  position: relative;
  svg {
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      border-radius: 100%;
      path {
        fill: #444df2;
      }
    }
  }
}

.full-bottom-flex {
  display: flex;
  width: 97%;
  position: absolute;
  bottom: 16px;
  justify-content: space-around;
  background-color: white;
  height: 31px;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  left: 3px;
}

.edit-input {
  width: 100%;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  resize: none;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  font-family: Nunito, "Helvetica Neue";
  font-size: 16px;
  min-height: 190px;
  min-width: 300px;
  height: 100%;
  overflow-y: auto;
  &:focus {
    border-color: #444df2;
    outline: none;
  }
}

.show-selected-files {
  max-height: 86px;
  max-width: 88px;
}

.file-info {
  display: flex;
  width: 105px;
  justify-content: center;
  height: 75px;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.file-box {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.delet-box {
  position: relative;
  top: -6px;
}

.delete-span {
  font-size: 20px;
  cursor: pointer;
}

.file-info-mix {
  display: flex;
  max-width: max-content;
  justify-content: center;
  height: 59px;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    .delete-span {
      color: #444df2;
    }
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.mix-file {
  position: relative;
  top: -6px;
  display: flex;
  flex-direction: column;
}

.emoji-holder {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  border: 1px solid #adb0d9;
  border-radius: 16px;
  padding: 3px;
  max-width: 100%;
  gap: 3px;
  justify-content: center;
  min-width: 38px;
  &:hover {
    border-color: #444df2;
    cursor: pointer;
  }
}

.emoji-holder-both {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  border: 1px solid #adb0d9;
  border-radius: 16px;
  padding: 3px;
  max-width: 100%;
  gap: 3px;
  justify-content: center;
  min-width: 38px;
  &:hover {
    border-color: #444df2;
    cursor: pointer;
  }
}

.emoji-position-ct {
  display: flex;
  align-items: end;
  margin-top: 4px;
}

.emoji-position-ct-cu {
  display: flex;
  align-items: end;
  margin-top: 4px;
  margin-right: 26px;
}

.emoji-holder-both-left {
  justify-content: flex-start;
}
.emoji-holder-both-right {
  justify-content: flex-end;
}

.show-set-reverse {
  position: absolute;
  z-index: 1;
  right: 7px;
  top: -7px;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
}

.headline-ct {
  display: flex;
  align-items: center;
  gap: 8px;
}

h3 {
  font-weight: 700;
  font-family: "Nunito";
  font-size: 24px;
}

.close-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  &:hover {
    background-color: #eceefe;
    cursor: pointer;

    path {
      fill: #444df2;
    }
  }
}

.header-seperator {
  width: 100%;
  height: 4px;
  box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
}

.avatar-container {
  position: absolute;
  right: 35px;
  top: 35px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
  }
}

.avatar-container-partner {
  position: absolute;
  left: 50px;
  top: 46px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
  }
}

.time-name-flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 23px;
}

.time-name-flex-partner {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.hashtag {
  font-family: "Nunito";
  color: #797ef3;
  font-size: 21px;
  font-weight: 600;
}

.all-thread-message-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cu-msg-text {
  max-width: 350px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: #797ef3;
  border-top-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.55px;
  padding: 16px;
}

.edit-wrapper {
  position: relative;
  display: inline-block; 
}

.reaction-icon-container-editMode {
  z-index: 3;
  background-color: white;
  height: 28px;
  width: 33px;
  svg {
    display: block;
    height: 30px;
    width: 33px;
    object-fit: contain;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      cursor: pointer;

      path {
        fill: #444df2;
      }
    }
  }
}

.reaction-container {
  display: flex;
  gap: 8px;
  margin-top: 4px;
  width: 100%;
}

.reaction-container-left {
  justify-content: flex-start;
}
.reaction-container-right {
  justify-content: end;
  margin-right: 32px;
}

.reaction-counter {
  font-size: 13px;
  position: relative;
  left: -2px;
  top: 1px;
}

.add-reaction-ct {
  svg {
    width: 36px;
    height: 36px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      cursor: pointer;

      path {
        fill: #444df2;
      }
    }
  }
}

.reaction-name-info-ct-sender {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 100%;
  background-color: #444df2;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding: 8px 11px;
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  visibility: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reaction-name-info-ct-sender.hovered {
  opacity: 1;
  visibility: visible;
}

.line {
  width: 100%;
  border: 1px solid #adb0d9;
}

.day-span {
  border-radius: 30px;
  z-index: 2;
  border: 1px solid rgba(173, 176, 217, 0.4);
  padding: 1px 13px;
  background-color: #ffffff;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.day-info {
  display: flex;
  align-items: center;
}

.new-day-info {
  top: 8px;
  margin: 16px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(173, 176, 217, 0.4);
    z-index: 0;
    transform: translateY(-50%);
  }
}

.both-reaction-info-ct {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  bottom: 25px;
  right: 15px;
  position: absolute;
  text-align: center;
  background-color: #444df2;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  text-align: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.both-reaction-info-ct-cu {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  right: 30px;
}

.both-reaction-info-ct.hovered {
  opacity: 1;
  visibility: visible;
}

.mention-message {
  color: #444df2 !important;
  cursor: pointer;
  &:hover {
    color: red !important;
  }
}

.reaction-info-txt {
  font-size: 13px;
}

.react-emoji-value {
  margin-right: 6px;
}

.reaction-name-info-ct-recipient {
  display: flex;
  background-color: #444df2;
  position: absolute;
  left: 0;
  bottom: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reaction-name-info-ct-recipient.hovered {
  opacity: 1;
  visibility: visible;
}

.chatpartner-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.color-separator {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  min-height: 138px;
  padding-top: 16px;
  &:hover {
    background-color: #eceefe;
  }
}

.option-flex {
  display: flex;
  gap: 10px;
  z-index: 3;
  background-color: white;
}

.save-icon {
  object-fit: contain;
  width: 24px;
  padding: 2px;
  &:hover {
    background-color: #eceefe;
    border-radius: 50px;
  }
}

.cancel-icon {
  object-fit: contain;
  width: 22px;
  padding: 3px;
  &:hover {
    background-color: #eceefe;
    border-radius: 50px;
  }
}

.message-holder {
  position: relative;
  padding: 15px 0 10px 0;
  right: 31px;
}

.message-content-bubble {
  max-width: 350px;
  position: relative;
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-self: baseline;
}

.static-bubble {
  position: relative;
  background-color: #eceefe;
  align-self: baseline;
  padding: 15px;
  max-width: 350px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cu-message-column {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 80px;
  align-items: end;
  h4 {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }
}

.cu-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-text {
  background-color: #eceefe;
  max-width: 278px;
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  color: #686868;
  position: relative;
  left: 8px;
}

.partner-message-column {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 125px;
  h4 {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }
}

.img-container {
  padding: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
  }
  &:hover .icon path {
    fill: #535af1;
  }
}

.emoji-picker-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.emoji-picker {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.emoji-bubble {
  position: absolute;
  box-sizing: content-box;
  padding: 3px 13px;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  right: 48px;
  top: -24px;
}

.user-emoji-bubble {
  position: absolute;
  box-sizing: content-box;
  padding: 3px 13px;
  border: 1px solid #adb0d9;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  left: 24px;
  top: -24px;
  display: flex;
}

.input-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
}

svg {
  cursor: pointer;
}

:host ::ng-deep app-input-field .error-message {
  font-size: 11px;
  padding: 4px;
  max-width: 250px;
  max-height: 100px;
}

:host ::ng-deep app-files-preview .file-info {
  margin-top: 4px;
  padding: 0 12px;
  max-width: 230px;
}


@media (max-width: 1349px) {
  .full-page-content.hidden-width {
    width: unset;
  }
}

@media (max-width: 720px) {
  .full-page-content.reset-width {
    width: unset;
  }
}
