@media (max-width: 803px) {
  .submit-box {
    padding: 0 20px;
  }
  .image-box {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 688px) {
  .email-card-content {
    span {
      font-size: 18px;
    }
  }
}

@media (max-width: 620px) {
  .verify-email-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 32px;
  }
  .title-info {
    h1 {
      font-size: 34px;
    }
  }
}

@media (max-width: 470px) {
  .verify-text-info {
    padding: 0;
  }
  .button-box {
    button {
      font-size: 16px;
      padding: 10px 20px;
    }
  }
  .svg-box {
    margin-left: 6px;
  }
  .main-title {
    align-items: center;
    gap: 10px;
    padding: 0;
  }
  p {
    max-width: 320px;
    text-align: center;
  }
}

@media (max-width: 379px) {
  .image-box {
    img {
      width: 260px;
    }
  }

  .email-card-content {
    gap: 11px;

    span {
      font-size: 16px;
    }
  }
  .verify-email-text {
    text-align: center;
    max-width: 320px;
    padding: 0;
  }
}
