.mat-mdc-card-content:last-child {
  padding-bottom: 5px;
}

.mat-mdc-card-content:first-child {
  padding-top: 5px;
}

section {
  height: 100vh;
  background-color: #eceefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  max-width: 1920px;
  .header-content {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 25px;
    left: 75px;
  }
  img {
    height: 56px;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: "Nunito";
  }
}

.container{
  position: relative;
  width: 100%;
  height: 100vh; 
}

.card {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 0 8px;
  padding: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.078);
  max-width: 606px;
  max-height: 669px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Nunito";
  margin: 8px 0 35px 0;
  .img-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 8px;
    height: 35px;
    width: 40px;
    border-radius: 100%;
    &:hover {
      background-color: rgb(236, 238, 254);
      cursor: pointer;
      .icon path {
        fill: #444df2;
      }
    }
  }
  h2 {
    font-size: 41px;
    color: #444df2;
  }
}

.sub-header {
  text-align: center;
  span {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 400;
  }
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}

.form-row {
  display: flex;
  align-items: center;
  flex: auto;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 16px;

  input {
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: #eceefe;
    padding: 18px 32px 18px 64px;
    width: 100%;
    outline: none;
    position: relative;
    font-family: "Nunito";
    font-weight: 700;
    &:focus {
      border-color: #444df2;
      z-index: 2;
    }
  }
  img {
    position: absolute;
    left: 16px;
    z-index: 3;
  }
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 100px;
    z-index: -1;
    border: 1px solid transparent;
  }
  &:hover::before {
    border-color: #686868;
  }
  input:focus ~ &::before,
  &:has(input:focus)::before {
    border-color: transparent;
  }
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  top: 30px;
  left: 10px;
  gap: 12px;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  min-width: 14px;
  min-height: 16px;
  background-color: transparent;
  z-index: 0;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #797ef3;
  border-radius: 2px;
  z-index: 2;
}

.custom-checkbox:hover::before {
  border: 2px solid #444df2;
  transition: border 125ms ease-in-out;
}

.custom-checkbox.checked {
  background-image: url("../../assets/img/checkbox-checked.svg");
}

.custom-checkbox.checked:hover::after {
  background-image: url("../../assets/img/checkbox_checked_hover.svg");
  background-position: -1px -1px;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 8px;
  background-color: #eceefe;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox:hover::after {
  transition: opacity 125ms ease-in-out;
  opacity: 1;
}

.policy {
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  bottom: 25px;
  gap: 16px;
  a {
    font-size: 18px;
    font-family: "Figtree";
    text-align: center;
    text-decoration: none;
    width: 120px;
    border: 1px solid transparent;
    color: #797ef3;
    cursor: pointer;
    &:hover {
      border: 1px solid grey;
      border-radius: 36px;
      padding: 4px 8px;
      font-weight: 500;
      transition: border-color 250ms ease-in-out;
    }
  }
}

.privacy {
  position: relative;
  bottom: -2px;
  a {
    color: #797ef3;
    text-decoration: none;
    cursor: pointer;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 16px 0;
  button {
    cursor: pointer;
  }
}

.error-message {
  position: absolute;
  top: 66px;
  left: 22px;
  font-size: 12px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
.top {
  top: 28px !important;
}

.link-sended-info {
  width: fit-content;
  background-color: #444df2;
  color: white;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 8px 20px;
  z-index: 4;
  position: fixed;
  bottom: 50px;
  right: 20px;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  border-bottom-right-radius: unset;
}

.link-sended-info.show {
  transform: translateX(0);
}

.link-card-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-img {
  width: 25px;
}

.link-sended-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  font-size: 17px;
}

.err-link-sended {
  background-color: #4200ffc7;
}

.error {
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  font-weight: 700;
  letter-spacing: 1px;
  .err-link-sended {
    background-color: #4200ffc7;
  }
}
.err-user-exists {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

@import './mobile-view-styling/create-account.mobile.scss';