@keyframes blackFlyUpMobile {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@-webkit-keyframes blackFlyUpMobile {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes blackFlyUpSmartPhone {
  0% {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
  100% {
    top: 70px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes blackFlyUpSmartPhone {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
  100% {
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
}

@keyframes typeText {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 815px) {
  .fly-up {
    -webkit-animation: blackFlyUpMobile 0.75s ease-in-out forwards;
    animation: blackFlyUpMobile 0.75s ease-in-out forwards;
  }
  .black-text {
    font-size: 22px !important;
  }
  .header-logo-ct {
    gap: 0 !important;
  }
  .black-logo {
    width: 55px !important;
  }
  .neu-ct {
    right: 0 !important;
    top: 17px !important;
    width: 90px;
    left: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  header{
    padding: 0;
  }
  form {
    .advice-mail {
      font-size: 14px;
      width: 300px;
      margin-bottom: 17px;
    }
  }
  h2 {
    font-size: 25px;
    margin-top: 12px;
  }
  .login-form-headline {
    gap: 11px;
    padding: 12px;
    max-width: 315px;
    min-height: auto;
    margin-top: 25px;
  }
  .input-container {
    width: 280px;
  }
  .input-styling {
    height: 43px;
    width: 100%;;
  }
  .google-button {
    justify-content: center;
    width: 250px;
    padding: 0 !important;
    height: 45px;
    border: 0.5px solid;
    p {
      font-size: 15px;
    }
  }
  .oder-part {
    .line-img {
      width: 320px;
    }
  }
  .btn-primary,
  .btn-primary-disabled,
  .btn-primary-disabled:not([disabled]) {
    padding: 8px 16px;
    font-size: 14px;
    height: 42px;
    width: 107px;
  }
  .btn-secondary {
    font-size: 14px;
    padding: 8px 25px !important;
  }

  .error-message {
    top: 47px;
    font-size: 9px;
  }
  .check-if-pw-ct {
    max-width: 315px;
    margin: 7px 0;
    gap: 13px;
  }
  .form-wrapper {
    height: 670px;
  }
  .imprint-privacy {
    position: absolute;
    bottom: 25px;
  }
  .neu-ct {
    span {
      font-size: 14px;
    }
  }
  .grey-border-btn {
    a {
      font-size: 13px;
    }
  }
  .mt{
    margin-top: 28px;
  }
  .oder-part{
    .oder{
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 600px) {
  .fly-up {
    -webkit-animation: blackFlyUpSmartPhone 0.75s ease-in-out forwards;
    animation: blackFlyUpSmartPhone 0.75s ease-in-out forwards;
  }
  .neu-ct {
    width: 100% !important;
    left: 0 !important;
    top: 5px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
  }
}
