@media (max-width: 930px) {
  .link-sended-info {
    bottom: 100px;
  }
}

@media (max-width: 770px) {
  header {
    top: 50px;
    left: 50%;
    .header-content {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .error {
    padding: 4px;
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .link-card-content {
    text-align: center;
  }
  .link-sended-info {
    padding: 5px 5px;
  }
  .link-sended-text {
    font-size: 15px;
  }
  .link-img {
    width: 16px;
    object-fit: contain;
  }
  .privacy {
    font-size: 13px;
  }
  .heading {
    h2 {
      font-size: 31px;
    }
  }
  .sub-header {
    span {
      font-size: 17px;
    }
  }
  .checkbox-row {
    top: 10px;
  }
  .button-container {
    margin: 16px 35px 0 0;
  }
  .btn-primary-disabled {
    padding: 10px 18px;
  }
  .btn-primary {
    padding: 10px 18px;
  }
  .top {
    top: 33px !important;
  }
}

@media (max-width: 390px) {
  .heading {
    justify-content: end;
  }
  .checkbox-row {
    top: -4px;
  }
}
