@media (min-width: 320px) and (max-width: 1020px) {
  .card {
    width: 90%;
    margin: 0 0;
  }
  .heading {
    margin: 8px 0 16px 0;
    h2 {
      font-size: 25px;
    }
  }
  .privacy {
    font-size: 12px;
  }
  .sub-header {
    span {
      font-size: 14px;
    }
  }
  .link-card-content {
    text-align: center;
  }
  .link-sended-info {
    padding: 5px 5px;
  }
  .link-sended-text {
    font-size: 13px;
  }
  .link-img {
    width: 16px;
    object-fit: contain;
  }
  .button-container {
    margin: 16px 25px 0 0;
  }
  .btn-primary-disabled {
    font-size: 13px;
    padding: 8px 23px;
  }
  .policy {
    justify-content: center;
    width: 100%;
    height: auto;
    a {
      font-size: 13px;
    }
  }
  .btn-primary {
    font-size: 13px;
    padding: 8px 23px;
  }
  svg {
    width: 26px;
  }
  form {
    margin-top: 21px;
  }
  .custom-checkbox {
    min-width: 11px;
    min-height: 10px;
  }
  .custom-checkbox:after{
    top: -3px;
    left: -4px;
    padding: 3px;
  }
  .form-row {
    margin-bottom: 9px;
    font-size: 14px;
    input {
      font-size: 14px;
      padding: 15px 32px 15px 64px;
      &:focus{
        font-size: 14px;
      }
    }
  }
  .error-message{
    font-size: 10px;
    top: 58px;
  }
}

@media (max-width: 930px) {
  .link-sended-info {
    bottom: 100px;
  }
}

@media (max-width: 770px) {
  header {
    top: 50px;
    left: 50%;
    h2 {
      font-size: 27px;
    }
    .header-content {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      height: 48px;
    }
  }
  .error {
    padding: 4px;
    font-size: 16px;
  }
}

@media (max-width: 340px) {
  .form-row {
    input {
      padding: 10px 32px 10px 64px;
    }
  }
  .heading {
    h2 {
      font-size: 21px;
      padding-left: 30px;
    }
  }
  .sub-header {
    span {
      font-size: 12px;
    }
  }
}
