.background {
  width: 100%;
  background: #eceefe;
}

.card {
  padding: 32px 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px #00000014;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  max-width: 366px;
  position: fixed;
  z-index: 2;
  height: 97vh;
  overflow-y: auto;
}

.workspace-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .left-side {
    display: flex;
    align-items: center;
    gap: 15px;

    h2 {
      font-family: "Nunito";
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
  }

  &:hover > .icon path {
    fill: #444df2;
  }
}

.channels-container {
  margin: 16px 0;
}

.channels-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;

  .header-left-side {
    display: flex;
    align-items: center;
    gap: 15px;

    .middle-part {
      display: flex;
      gap: 8px;
    }
  }
}

.header-left-side,
.message-header {
  cursor: pointer;

  &:hover {
    color: #535af1;
  }

  &:hover > .icon path,
  &:hover .middle-part > .icon path {
    fill: #535af1;
  }
}

.channels {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 24px;
  margin: 24px 0;
  max-height: 230px;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-size: 19px;
}

.add-channel-span {
  font-size: 18px;
  padding: 4px 7px !important;
  margin-top: 24px;
}

.channel-row,
.add-channel-container {
  span {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: #eceefe;
    }
    &.active {
      background-color: #eceefe;
    }

    &:hover > .icon path {
      fill: #535af1;
    }
  }
}

.add-channel-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 24px;
}

.channels-drawer {
  max-height: 600px;
  overflow: hidden;
  transition: max-height 175ms ease-in-out;
}

.channels-drawer-closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 175ms ease-in-out;
}

.message-header {
  display: flex;
  align-items: center;
  gap: 15px;

  .middle-part {
    display: flex;
    gap: 8px;
  }
}

.message-drawer {
  max-height: 600px;
  overflow: hidden;
  transition: max-height 175ms ease-in-out;
}

.message-drawer-closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 175ms ease-in-out;
}

.direct-message-container {
  margin-top: 36px;
  position: relative;
  right: 12px;
}

.contacts {
  margin-top: 24px;
  height: 55vh;
  overflow-y: auto;
  margin-left: 24px;
  scroll-behavior: smooth;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 11px;
  border-radius: 30px;
  position: relative;
  width: 245px;
  cursor: pointer;
  img {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    object-fit: cover;
  }

  h4 {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 400;
  }
  &:hover {
    background: #eceefe;
    border-radius: 30px;
  }
}

.all-user {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 11px;
  border-radius: 30px;
  cursor: pointer;
  img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    object-fit: cover;
  }
  h4 {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 400;
  }
  &:hover {
    background: #eceefe;
  }
}

.all-user-contacts {
  display: flex;
  flex-direction: column;
  width: 245px;
}

.active-user-div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 20px;
  position: relative;
  border-radius: 30px;
  width: 245px;
  cursor: pointer;
  &.active {
    background-color: #eceefe;
    width: 245px;
    &:hover {
      width: 245px;
    }
  }
}

.status-border {
  position: absolute;
  background-color: white;
  padding: 2px;
  border-radius: 100%;
  top: 37px;
  left: 56px;
}

.online {
  display: block;
  background-color: #92c83e;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.offline {
  display: block;
  background-color: #757575;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.messages-counts {
  min-width: 30px;
  min-height: 30px;
  background-color: #444df2;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: #ffffff;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .channels {
    gap: 8px;
  }
  .workspace-header .left-side {
    width: 100%;
    justify-content: center;
    img {
      width: 38px;
      height: 38px;
      object-fit: contain;
    }
  }
  .workspace-menu {
    padding: 9px 37px;
  }
  .status-border {
    left: 35px;
    top: 32px;
  }
  .online,
  .offline {
    height: 10px;
    width: 10px;
  }

  .contact {
    max-width: 215px;
    h4 {
      font-size: 14px;
    }
    img {
      height: 40px;
      width: 40px;
    }
  }
  .all-user-contacts {
    max-width: 215px;
  }
  .all-user {
    h4 {
      font-size: 14px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .active-user-div {
    padding: 2px 8px;
    gap: 10px;
  }

  .channels-header .header-left-side {
    font-size: 14px;
  }

  h3 {
    font-size: 16px;
  }
  svg {
    width: 21px;
    height: 21px;
  }
  .add-channel-container {
    span {
      font-size: 14px;
      font-weight: 600;
      padding: 2px 10px;
      margin-bottom: 12px;
    }
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .card {
    border-radius: 0;
    padding: 0;
    max-width: 100%;
  }
  .channel-row {
    span {
      font-size: 13px;
      padding: 2px 10px;
    }
  }
  .workspace-header {
    width: 100%;
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.2) !important;
    padding: 10px 17px;
  }
  .workspace-header .left-side {
    h2 {
      font-size: 20px;
    }
  }
}

@media (min-width: 450px) and (max-width: 770px) {
  .card {
    border-radius: 30px;
    padding: 32px 30px;
    max-width: 95%;
    margin-left: 12px;
  }
  .workspace-header {
    padding: 19px 17px;
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.2) !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .workspace-header .left-side {
    h2 {
      font-size: 24px;
    }
  }
  .channel-row {
    span {
      font-size: 15px;
    }
  }
}

/* 
  @media(max-width:720px){
    .card{
      max-width: unset;
    } 
  }

 */
