@media (min-width: 320px) and (max-width: 600px) {
  .member {
    padding: 2px 0;
    font-size: 14px;
    img {
      width: 40px;
      height: 40px;
      margin-right: 0;
    }
  }
  .online {
    width: 10px;
    height: 10px;
  }
  .offline {
    width: 10px;
    height: 10px;
  }
  .status-border {
    left: 0;
    top: 30px;
  }
  .add-user-container {
    padding: 1px 9px;
    margin-top: 28px;
    p {
      font-size: 15px;
    }
  }
  .img-container {
    width: 30px;
  }
  .heading {
    position: relative;
    bottom: 20px;
  }
}
