.card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: rgb(236, 238, 254);
    cursor: pointer;

    .icon path {
      fill: #444df2;
    }
  }
}

.members-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 200px;
  overflow-y: scroll;
}

.member {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  border-radius: 35px;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
  }
  transition: background-color 0.2s ease;
  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 8px;
  }
  span {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.add-user-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 6px 32px;
  border-radius: 100px;
  cursor: pointer;
  width: fit-content;
  margin-top: 13px;
  p {
    font-size: 17px;
  }
  &:hover {
    background: #eceefe;
  }
  &:hover p {
    color: #444df2;
  }
  &:hover > .img-container .icon path {
    fill: #444df2;
  }
}

.status-border {
  position: absolute;
  background-color: white;
  padding: 2px;
  border-radius: 100%;
  top: 37px;
  left: 56px;
}

.online {
  display: block;
  background-color: #92c83e;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

.offline {
  display: block;
  background-color: #757575;
  height: 14px;
  width: 14px;
  border-radius: 100%;
}

@media (min-width: 320px) and (max-width: 600px) {
  .member {
    padding: 2px 0;
    font-size: 14px;
    img {
      width: 40px;
      height: 40px;
      margin-right: 0;
    }
  }
  .online {
    width: 10px;
    height: 10px;
  }
  .offline {
    width: 10px;
    height: 10px;
  }
  .status-border{
    left: 0;
    top: 30px;
  }
  .add-user-container{
    padding: 1px 9px;
    margin-top: 28px;
    p{
      font-size: 15px;
    }
  }
  .img-container{
    width: 30px;
  }
  .heading{
    position: relative;
    bottom: 20px;
  }
}
