@media (min-width: 320px) and (max-width: 750px) {
  .avatar-box {
    gap: 4px;
    padding: 10px 0 0 0px;
    img {
      width: 50px;
      height: 50px;
    }
  }

  .name-escape-flex {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 0;
  }

  .added-avatar {
    gap: 24px;
    padding: 19px 0px;
  }

  .name-edit-flex {
    padding: 0;

    input {
      width: 98%;
    }
  }

  .mail-flex-column {
    padding: 30px 0;
    input {
      width: 98%;
    }
  }

  .button-flex {
    width: unset;
    gap: 10px;
    margin-bottom: 0;
  }
  .img-frame {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  h3 {
    font-size: 16px;
  }
  .mail-flex-column {
    div {
      gap: 7px;
      img {
        width: 25px;
      }
    }
  }
  .description-input {
    gap: 7px;
    img {
      width: 25px;
    }
  }
  input {
    font-size: 15px;
  }
  .button-flex {
    margin-top: 22px;
  }
  .btn-secondary {
    padding: 8px 19px !important;
    font-size: 15px;
  }
  .btn-primary {
    padding: 8px 19px !important;
    font-size: 15px;
  }
  .name-escape-flex {
    span {
      font-size: 18px;
      margin-left: 6px;
    }
  }
  .added-avatar {
    display: none;
  }
  .avatar-box {
    padding: 10px 0px 0px 12px;
    gap: 12px;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }
}

@media (max-width: 750px) {
  .profile-card-ct {
    width: 80vw;
  }
}

@media (max-width: 450px) {
  .profile-card-ct {
    top: 0;
    border-radius: 0;
    width: 100vw;
    padding: 15px;
  }
}
