@media (min-width: 320px) and (max-width: 600px) {
  .card {
    max-width: 100vw;
    height: 555px;
  }
  h3 {
    font-size: 17px;
  }
  .subheader {
    bottom: -4px;
  }
  .input-container {
    margin-top: 16px;
  }
  .add-input {
    padding: 12px 13px;
  }
  .btn-primary {
    padding: 6px 15px;
  }
  .btn-primary-disabled {
    padding: 6px 15px;
  }
}
