.msg-input-ct {
  padding: 32px;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chat-input:focus {
  outline: none; 
}

.interactions-send-msg-ct {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 33px;
  left: 35px;
  justify-content: space-between;
  width: calc(99% - 57px);
  border-radius: 20px;
  background-color: #ffffff;
  height: 39px;
  z-index: 10;
}

.only-interactions-bottom-ct {
  display: flex;
  gap: 8px;
  margin-left: 4px;
  align-items: center;
}

.plus-separator-flex {
  display: flex;
  gap: 4px;
  position: relative;
  top: 4px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 20px;
    margin-bottom: 5px;
    &:hover {
      background-color: #eceefe;
    }
  }
}

.plus {
  margin-top: 5px;
  width: 25px;
  height: 22px;
  object-fit: cover;
  height: auto;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    filter: brightness(0) saturate(100%) invert(14%) sepia(70%) saturate(4200%)
      hue-rotate(210deg) brightness(93%) contrast(105%);
  }
}

.emoji-at-ct {
  display: flex;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 20px;
    &:hover {
      background-color: #eceefe;
    }

    img {
      width: 38px;
      height: auto;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
        filter: brightness(0) saturate(100%) invert(14%) sepia(70%)
          saturate(4200%) hue-rotate(210deg) brightness(93%) contrast(105%);
      }
    }
  }
}

.emoji-picker {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
  font-size: 18px;
}

.people-mention-card {
  position: absolute;
  left: 0;
  bottom: 50px;
  margin-top: 8px;
  z-index: 999;
  transform: translateY(0);
  transition: transform 0.2s ease;
}


.msg-send {
  width: 34px;
  align-self: center;
  margin-bottom: 4px;
  position: absolute;
  right: 0;
  &:hover {
    filter: brightness(1.8);
  }
}

.sending-status-box {
  color: #444;
  background: #eeeeff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: center;
}

.chat-editable {
  min-height: 130px;
  max-height: 200px;
  overflow-y: auto;
  outline: none;
  border: none;
  caret-color: black; 
  cursor: text;
  resize: none;
  color: black;
  padding: 20px 20px 40px 18px;
  font-size: 18px;
  font-family: "Nunito";
  white-space: pre-wrap;
  word-wrap: break-word;
z-index: 2;
position: relative;
  &:empty:before {
    content: attr(data-placeholder);
    color: grey;
    opacity: 0.9;
    font-style: italic;
    pointer-events: none;
  }
}

.main-input-area {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  scrollbar-width: thin;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  overflow: hidden;
  &:focus-within {
    border-color: blue;
  }
}

.vector {
  height: 33px;
  width: 7px;
}

.flex-preview {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-info {
  display: flex;
  width: 105px;
  justify-content: center;
  height: 75px;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
    span {
      color: #444df2;
    }
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.file-box {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.delet-box {
  position: relative;
  top: -6px;
}

.delete-span {
  font-size: 20px;
  cursor: pointer;
}

.file-info-mix {
  display: flex;
  max-width: max-content;
  justify-content: center;
  height: 59px;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    .delete-span {
      color: #444df2;
    }
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.mix-file {
  position: relative;
  top: -6px;
  display: flex;
  flex-direction: column;
}
