<div class="msg-input-ct">

  <div class="main-input-area">
    <label for="msg-input"></label>
    <div class="highlight" [innerHTML]="formattedMessage"></div>
    <textarea id="msg-input" placeholder="Schreib etwas..." class="chat-input" [(ngModel)]="chatMessage"
      (input)="onInput($event)" (keydown)="sendMessage($event)" #inputField></textarea>
    <div class="flex-preview"
      *ngIf="currentComponentId === 'direct-thread' && currentComponentId === activeComponentId">
      <div class="error-message" *ngIf="multipleFilesErrorMessage">
        {{ multipleFilesErrorMessage }}
      </div>

      <!-- Feedback für zu große Datei -->
      <div class="error-message" *ngIf="fileTooLargeMessage">
        {{ fileTooLargeMessage }}
      </div>
      <app-files-preview (resetErrors)="handleResetErrors()"
        [currentComponentId]="currentComponentId"></app-files-preview>
    </div>
    <div class="flex-preview" *ngIf="currentComponentId === 'chat' && currentComponentId === activeComponentId">
      <div class="error-message" *ngIf="multipleFilesErrorMessage">
        {{ multipleFilesErrorMessage }}
      </div>

      <!-- Feedback für zu große Datei -->
      <div class="error-message" *ngIf="fileTooLargeMessage">
        {{ fileTooLargeMessage }}
      </div>
      <app-files-preview (resetErrors)="handleResetErrors()"
        [currentComponentId]="currentComponentId"></app-files-preview>
    </div>
  </div>





  <div class="interactions-send-msg-ct">
    <div class="only-interactions-bottom-ct">
      <div class="plus-separator-flex">

        <div>
          <div *ngIf="currentComponentId === 'direct-thread'">

            <input type="file" id="upload-thread" (change)="onFileSelectedThread($event, currentComponentId)" hidden />


            <label for="upload-thread">
              <img class="plus" src="./assets/img/add.svg" alt="Upload Icon for Direct Thread" />
            </label>
          </div>

          <div *ngIf="currentComponentId === 'chat'">

            <input type="file" id="upload-chat" (change)="onFileSelected($event, currentComponentId)" hidden />

            <label for="upload-chat">
              <img class="plus" src="./assets/img/add.svg" alt="Upload Icon for Chat" />
            </label>
          </div>
        </div>

        <img class="vector" src="./assets/img/vector_4.svg">
      </div>

      <div class="emoji-at-ct">
        <div class="emoji-picker-container">
          <emoji-mart *ngIf="isEmojiPickerVisible" (emojiClick)="addEmoji($event)" class="emoji-picker"
            size="18"></emoji-mart>
          <div> <img (click)="toggleEmojiPicker()" src="./assets/img/emoji.svg"></div>
        </div>
        <div (click)="openMentionPeople()"> <img src="./assets/img/at_react.svg"></div>
      </div>
      <app-people-mention (cardClosed)="handleCardClosed()" class="people-mention-card"
        *ngIf="isMentionPeopleCardVisible" (mentionUser)="handleMentionUser($event)"></app-people-mention>


      <img class="msg-send" src="./assets/img/msg_send.svg" (click)="sendMessageClick()">
    </div>

  </div>




</div>