@import "./assets/fonts/font.scss";
@import "./assets/styles/buttons";
@import "@ctrl/ngx-emoji-mart/picker";

* {
  margin: 0;
  box-sizing: border-box;
  margin: 0;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  height: 510px;
  width: 530px;
  padding-top: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8) !important;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #eceefe;
}

.mention-message {
  color: blue;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
}

.mat-mdc-button .mdc-button__label {
  display: flex;
  align-items: center;
}

img {
  cursor: pointer;
}

.edit-dialog.mat-mdc-dialog-surface {
  height: 500px;
  width: 390px;
  border-top-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.member-dialog.mat-mdc-dialog-surface {
  height: 500px;
  width: 390px;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.add-member-dialog.mat-mdc-dialog-surface {
  height: 500px;
  width: 390px;

  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.member-profile-card {
  width: 100%;
  height: 100%;
}

.mention {
  color: blue;
  cursor: pointer;
  word-wrap: break-word;
  white-space: pre-wrap;
}
@media (min-width: 320px) and (max-width: 600px) {
  .mdc-dialog--open .mat-mdc-dialog-surface {
    height: 555px;
    padding-top: 0;
    width: 100vw;
  }
  .mat-mdc-dialog-inner-container {
    height: auto !important;
  }
  .cdk-overlay-container {
    position: inherit;
  }
  .add-member-dialog.mat-mdc-dialog-surface {
    width: 100vw !important;
  }
  .emoji-mart-dark {
    width: 100% !important;
  }
  .emoji-mart-dark .emoji-mart-category-label span {
    font-size: 13px !important;
  }
  .emoji-mart .emoji-mart-emoji {
    padding: 4px !important;
  }
  .emoji-mart-emoji {
    span {
      width: 22px !important;
      height: 22px !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .member-profile-card {
    height: 540px !important;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  .mat-mdc-card-header {
    padding: 0 !important;
  }
}
