@media (max-width: 1510px) {
  .day-span {
    font-size: 13px;
    padding: 3px 13px;
  }
  .edit-message-container {
    min-width: auto;
    max-width: 280px;
    justify-content: end;
  }
  .message-edit-dialog {
    padding: 0px;
    span {
      padding: 5px;
      border-radius: 20px;
      &:hover {
        padding: 5px;
        border-radius: 20px;
      }
    }
  }
  textarea {
    min-width: auto;
    max-width: 280px;
    font-size: 14px;
  }
  .reaction-bar {
    height: 33px;
    padding: 3px 4px;
  }
  .reaction-bar-user {
    top: 0;
  }
  .reaction-bar-current {
    top: -2px;
  }
  .emoji {
    width: 26px;
    height: 26px;
  }
  .img-container {
    width: 24px;
    height: 20px;
    padding: 2px;
    margin-bottom: 3px;
    svg {
      height: 26px;
      width: 26px;
      object-fit: cover;
    }
  }
  .used-emojis .emoji:nth-child(1) {
    display: none;
  }
  .textarea {
    svg {
      width: 20px !important;
      height: 22px !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  header {
    border-top-right-radius: 0px;
    border-top-left-radius: 0;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  header {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .message-scroll-container {
    padding-bottom: 10px;
  }
  .new-day-info {
    top: 2px;
  }
  .reaction-from-container {
    font-size: 11px;
    padding: 3px 4px !important;
    max-width: 125px;
    max-height: 50px;
    white-space: nowrap;
  }
  .message-edit-dialog {
    padding: 0px;
    line-height: 1.1;
    font-size: 11px !important;
    white-space: pre-wrap;
    display: inline;
  }

  .left {
    gap: 21px;
  }

  h2 {
    font-size: 21px;
  }
  .avatar-container {
    img {
      width: 50px;
      height: 50px;
    }
  }
  .edited-indicator {
    font-size: 10px;
  }
  .edited-indicator-topic {
    font-size: 10px;
  }
  .time {
    font-size: 12px;
  }
  .only-name {
    font-size: 14px;
  }
  .mention-message {
    font-size: 14px;
  }
  .seperator {
    h3 {
      font-size: 14px;
    }
  }
  .card {
    min-width: 100vw;
  }

  .seperator {
    width: 75%;
  }
}

@media(max-width: 340px){
  .channel-name{
    margin-left: 0;
  }
}

@media(max-width: 770px){
  .card{
    border-radius: 0;
  }
}