.mat-mdc-card {
  border-style: none;
  border-top-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  left: 100px;
  top: 34px;
  width: fit-content;
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.full-bottom-flex {
  display: flex;
  width: 97%;
  position: absolute;
  bottom: 7px;
  justify-content: space-around;
  background-color: white;
  height: 35px;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  left: 3px;
}

.message-bubble-edit {
  position: relative;
  max-width: 350px;
  word-break: break-all;
  font-size: 16px;
  line-height: 24.55px;
  font-family: inherit;
}

.thread-container {
  opacity: 0;
  animation: fadeIn 1.25s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* .loading-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.loading-spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #444df2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 0.5rem;
}

.loading-text {
  color: #444df2;
  font-size: 0.95rem;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

app-thread-parent-message {
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: relative;
  margin-top: 2px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.reaction-icon-container-editMode {
  z-index: 3;
  height: 32px;
  width: 33px;
  svg {
    display: block;
    width: 33px;
    height: 32px;
    object-fit: contain;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      cursor: pointer;

      path {
        fill: #444df2;
      }
    }
  }
}

.edit-input {
  width: 100%;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  resize: none;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  font-family: Nunito, "Helvetica Neue";
  font-size: 16px;
  min-height: 190px;
  min-width: 345px;
  height: 100%;
  overflow-y: auto;
  &:focus {
    border-color: #444df2;
    outline: none;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 9px;
  &.has-sticker {
    padding-bottom: 28px;
  }

  &.is-current-user {
    align-items: flex-end;
  }

  &.is-partner {
    align-items: flex-start;
  }
}

.avatar-container {
  position: absolute;
  top: 30px;
  right: 36px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  &.is-partner {
    left: 50px;
    right: auto;
    top: 46px;
  }
}

.message-column {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  right: 95px;

  h4 {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: left;
    &:hover {
      color: #444df2;
      cursor: pointer;
    }
  }

  &.is-partner {
    align-items: flex-start;
    left: 125px;
    right: auto;
  }
}

.time-name-flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 23px;

  &.is-partner {
    flex-direction: row;
  }
}

.message-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  color: #686868;
  position: relative;
  left: 8px;
}

.message-bubble {
  max-width: 350px;
  min-width: 75px;
  background-color: #797ef3;
  border-top-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.55px;
  padding: 16px;
  word-break: break-all;
  position: relative;
  &.is-partner {
    background-color: #f3f4f6;
    margin-top: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
  }
}

.message-bubble.is-partner:hover {
  background-color: #fff;
}

.text-info-edit {
  font-size: 12px;
  font-family: "Nunito";
  text-align: center;
  color: slategray;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin-top: 3px;
}

.show-selected-files {
  max-height: 86px;
  max-width: 88px;
}
.file-info {
  display: flex;
  width: 105px;
  justify-content: center;
  height: 75px;
  align-items: center;
  border-radius: 5%;
  cursor: pointer;

  img {
    width: 50px;
    height: 50px;
    border-radius: 13px;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
    span {
      color: #444df2;
    }
  }
}

.sticker-view-ct {
  position: absolute;
  bottom: -39px;
  z-index: 10;
  display: flex;
  gap: 4px;
}

.sticker-view-right {
  right: 0;
}

.sticker-view-left {
  left: 0;
}

.reaction-name-info-ct-sender {
  position: absolute;
  bottom: 110%;
  left: 100%;
  transform: translateX(-50%);

  background-color: #444df2;
  color: #fff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
  padding: 8px 11px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.reaction-name-info-ct-sender.hovered {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.reaction-name-info-ct-sender::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #444df2 transparent transparent transparent;
}

.option-flex {
  display: flex;
  gap: 10px;
  z-index: 3;
}

.save-icon {
  object-fit: contain;
  width: 24px;
  padding: 2px;
  &:hover {
    background-color: #eceefe;
    border-radius: 50px;
  }
}

.cancel-icon {
  object-fit: contain;
  width: 22px;
  padding: 3px;
  &:hover {
    background-color: #eceefe;
    border-radius: 50px;
  }
}

.emoji-picker-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.last-emoji-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  .single-emoji {
    font-size: 16px;
    cursor: pointer;
  }
}

.comment-senderSticker-box,
.comment-recipientSticker-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 2px 6px;
  display: inline-block;
}

.emoji-picker {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 9999;
}

.emoji-holder {
  position: relative;
  font-size: 14px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #adb0d9;
  border-radius: 16px;
  padding: 3px;
  max-width: 100%;
  gap: 3px;
  min-width: 38px;
  &:hover {
    border-color: #444df2;
    cursor: pointer;
  }
}

.color-separator {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 13px;
  &:hover {
    background-color: #eceefe;
  }

  &.first-separator {
    padding-top: 0;
    margin-top: 17px;
  }
}

.day-info {
  display: flex;
  align-items: center;
}

.new-day-info {
  bottom: 14px;
  margin: 16px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(173, 176, 217, 0.4);
    z-index: 0;
    transform: translateY(-50%);
  }
}

.day-span {
  border-radius: 30px;
  z-index: 2;
  border: 1px solid rgba(173, 176, 217, 0.4);
  padding: 1px 13px;
  background-color: #ffffff;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  font-size: 15px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.sticker-hover-ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  &.left-hover {
    top: 10px;
    left: 200px;
  }
  &.right-hover {
    top: 10px;
    right: 150px;
  }
}
.show-set {
  position: absolute;
  border: 1px solid #adb0d9;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.show-set-right {
  right: 20px;
  top: -22px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0;
}

.show-set-left {
  left: 25px;
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 30px;
}

.img-flex-bar-options {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 3px 12px;
  gap: 3px;
  img {
    object-fit: contain;
  }
}

.edit-wrapper {
  position: relative;
  display: inline-block;
}
.edit-icon-holder {
  position: relative;
  z-index: 20x;
  svg {
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      border-radius: 100%;
      path {
        fill: #444df2;
      }
    }
  }
}
.edit-messages-card {
  position: absolute;
  top: 8px;
  left: 8px;
  margin-top: 4px;
}
.edit-message-content {
  box-shadow: 0px 6px 14px 0px #00000033;
  color: #000;
  width: 100%;
  padding: 2px 5px;
  font-size: 12px !important;
  border-radius: 30px;
  width: auto;
  min-width: max-content;
  border-top-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  &:hover {
    background-color: white;
    span {
      color: #444df2;
      background-color: #eceefe;
    }
  }
}

.edit-message-content span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 15px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.add-reaction-ct {
  svg {
    width: 36px;
    height: 36px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
      background-color: #eceefe;
      cursor: pointer;
      path {
        fill: #444df2;
      }
    }
  }
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 30px;
  position: relative;
  width: 87%;
  padding-bottom: 11px;
  h3 {
    white-space: nowrap;
    color: #444df299;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
  }
}
.line-separator {
  width: 100%;
  border: 1px solid rgba(173, 176, 217, 0.4);
}
@media (min-width: 320px) and (max-width: 600px) {
  .only-name {
    font-size: 13px;
  }
  .mention-message {
    font-size: 14px;
  }
  .text-info-edit {
    font-size: 10px;
  }
  .emoji-holder {
    min-width: 30px;
    height: 21px;
  }
  .reaction-info-txt {
    font-size: 10px;
    max-height: 15px;
    display: inline-block;
    line-height: 1.1;
  }
  .reaction-info-txt-both {
    font-size: 10px;
    max-height: 15px;
    display: inline-block;
    line-height: 1.1;
  }
  .reaction-counter {
    font-size: 11px;
  }
  .file-info {
    justify-content: start;
  }
  .full-bottom-flex {
    bottom: 1px;
  }
  .img-flex-bar-options {
    height: 33px;
    gap: 0;
    padding: 3px;
  }
  .edit-icon-holder {
    width: 30px;
    height: 30px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .edit-message-content {
    font-size: 11px !important;
    padding: 5px 2px !important;
    min-width: unset;
    span {
      padding: 1px 3px !important;
      line-height: 1.3;
      white-space: pre-wrap;
      &:hover {
        font-size: 11px !important;
      }
    }
  }
  .add-reaction-ct {
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .day-span {
    font-size: 12px;
  }
  .message-time {
    font-size: 12px;
  }
  .message-bubble {
    max-width: 70%;
    text-align: center;
  }
  .message-bubble.is-partner {
    max-width: 70%;
  }
  .seperator {
    h3 {
      font-size: 14px;
    }
  }
  .last-emoji-holder .single-emoji {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .last-emoji-holder{
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    &:hover{
      background-color: #eceefe;
    }
  }
  .single-emoji {
    font-size: 11px;
  }
  .avatar-container {
    right: 15px;
  }
  .message-column {
    right: 75px;
  }
  .flex-box-text {
    display: flex;
    justify-content: end;
  }
  .avatar-container.is-partner {
    left: 15px;
  }
  .message-column.is-partner {
    left: 75px;
  }
  .edit-input {
    min-width: auto;
    font-size: 13px;
  }
}
