mat-card {
  position: absolute;
  z-index: 110;
}

app-workspace {
  position: relative;

  &.workspace-open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  &.workspace-closed {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}


.full-flex {
  max-width: 2200px;
}

.page-content-plus-header {
  filter: blur(2px);
  transition: filter 0.3s ease;
}

.full-page-content {
  display: flex;
  max-width: 2000px;
  gap: 32px;
  width: calc(100vw - 100px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 950;
}

.overlay-ws {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.login-sended-info {
  width: fit-content;
  background-color: #444df2;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;
  padding: 8px 12px;
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translateX(500px);
  transition: transform 0.5s ease-in-out;
  border-bottom-right-radius: unset;
}

.hidden {
  display: none;
}

.login-sended-info.visible {
  transform: translateX(0);
}

.login-sended-info.hidden {
  transform: translateX(500px);
}

.success-login-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sended-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  font-size: 20px;
}

.guest-or-mail {
  margin-left: 6px;
}

.startScreen-reduced {
  width: 60% !important;
}

app-thread {
  height: 97vh;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px #00000014;
  background-color: white;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateX(0);
}

.workspace-opener {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -122px;
  z-index: 10;
  top: 50%;
  transform: rotate(-90deg);
  width: 300px;
  background-color: white;
  padding: 12px;
  gap: 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 4px 4px 7px 0px #00000033;
}

.workspace-opener {
  &:hover p {
    color: #444df2;
  }
}

.workspace-closed {
  width: 0;
  overflow-x: hidden;
  transition: all 175ms ease-in-out;
}

.workspace-open {
  min-width: 385px;
  transition: all 175ms ease-in-out;
}

.workspace-drawer {
  transform: rotate(90deg);
}

.startScreen-open {
  width: 100%;
}

app-start-screen {
  width: 98%;
}

.overlay-contacts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); 
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  font-family: "Nunito", Arial, sans-serif;
}

.overlay-contacts p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  font-family: "Nunito";
}

.overlay-contacts .loading-dots {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.overlay-contacts .dot {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.overlay-contacts .dot:nth-child(2) {
  animation-delay: 0.3s;
}

.overlay-contacts .dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
}

.start-screen-full {
  width: 100% !important;
}

.start-screen-reduced {
  width: 60%;
}

/* app-thread.display-hidden {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

::ng-deep app-thread.full-thread-width {
  width: 100vw !important;
} */

.thread-holder {
  width: 510px;       
  transition: width 0.3s ease;
}

.thread-holder.full-thread-width {
  width: 100vw !important;
}

@media (max-width: 950px) {
  .full-page-content {
    gap: 0;
  }

  .workspace-open {
    width: 100%;
    transition: all 175ms ease-in-out;
  }

  .workspace-open.close-box {
    width: 0;
    transition: all 175ms ease-in-out;
    overflow-x: hidden;
    margin-left: 0;
  }

  .workspace-open.open-box {
    width: 100%;
    transition: all 175ms ease-in-out;
  }

  .openThread {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  .startScreen-open.hidden {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 770px) {
  .main-content {
    max-height: calc(100vh - 165px);
  }
  .sended-text {
    font-size: 14px;
    white-space: nowrap;
  }
  .guest-or-mail {
    white-space: nowrap;
  }
  .login-sended-info {
    padding: 2px 4px;
  }
  .workspace-drawer {
    width: 32px;
    object-fit: cover;
  }

  .full-page-content {
    gap: 0;
  }

  .workspace-open {
    width: 100%;
    transition: all 175ms ease-in-out;
  }

  .workspace-open.close-box {
    width: 0;
    overflow-x: hidden;
    margin-left: 0;
  }

  .workspace-open.open-box {
    width: 100%;
    transition: all 175ms ease-in-out;
  }

  .openThread {
    display: unset;
    max-width: unset;
  }

  .startScreen-open.hidden {
    display: none;
  }

  .thread-hidden {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .full-page-content {
    width: 100% !important;
  }
  .workspace-opener {
    position: fixed;
    top: 78%;
    left: -3px;
    padding: 3px;
    width: 36px;
    background-color: #e0e0ff;
    p {
      display: none;
    }
  }
}

@media (min-width: 450px) and (max-width: 770px) {
  .startScreen-open {
    width: 100%;
  }
  app-thread {
    width: 100vw;
  }
  .full-page-content {
    width: 100% !important;
  }
  .workspace-opener {
    left: -134px;
    padding: 2px;
    top: 80%;
  }
}

@media (min-width: 450px) and (max-width: 1024px) {
  .workspace-opener {
    top: 70%;
  }
  .workspace-open {
    width: 500px;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .full-page-content {
    gap: 18px;
  }
}

@media (min-width: 2200px) {
  :host {
    display: flex;
    width: 100vw;
    justify-content: center;
  }
}

@media (max-width: 1630px) {
  .full-page-content {
    width: calc(100vw - 30px);
  }
}

@media (min-width: 450px) and (max-width: 1350px) {
  .full-page-content {
    width: calc(100vw - 10px);
  }
}
