<div class="full-flex" [ngClass]="{'page-content-plus-header': successfullyLogged}">
    <app-header (headerChannelSelcted)="onHeaderchannelSelected($event)"
        (headerUserSelected)="onHeaderUserSelected($event)">
    </app-header>
    <div class="full-page-content" [style.gap]="getGridGap()" [style.--workspace-width]="workspaceColumnWidth"
        [style.grid-template-columns]="calcGridTemplateColumns()">
        <div class="workspace-container">
            <div class="workspace-wrapper" [ngClass]="{'closed': !isWorkspaceOpen, 'opened': isWorkspaceOpen}"
                (transitionend)="onWorkspaceTransitionEnd()">

                <app-workspace (mobileChannelSelected)="handleMobileChannelSelected()"
                    (userSelected)="onUserSelected($event)" (channelSelected)="onChannelSelected($event)">
                </app-workspace>
            </div>
        </div>

        <div class="start-screen-container"
            [style.width]="!this.global.threadOpened ? calcStartScreenContainerWidth() : '100%'">
            <app-start-screen (enterChat)="handleEnterChat($event)"
                (userSelectedFromStartscreen)="handleUserSelectionFromStartscreen($event)"
                (channelSelectedFromStartscreen)="handleChannelSelectionFromStartscreen($event)"
                (userSelected)="onUserSelected($event)" [onHeaderChannel]="onHeaderChannel"
                [onHeaderUser]="onHeaderUser" [selectedUser]="selectedUser" [mentionUser]="mentionUser"
                [selectedChannel]="selectedChannel" (threadOpened)="onThreadOpened()"
                (channelSelected)="onChannelSelected($event)" (threadOpenedToHome)="onThreadOpened()">
            </app-start-screen>
        </div>

        <div class="thread-holder-container" *ngIf="isThreadOpened" @fadeOutThread
            [style.width]="this.global.threadOpened ? '100%' : calcThreadWidth()">
            <app-thread [directThreadId]="directThreadId" [channelThreadId]="channelThreadId"
                (closeThread)="onThreadClosed()" [selectedUser]="selectedUser" [selectedChannel]="selectedChannel"
                (userSelectedFromThread)="handleUserSelectionFromThread($event)"
                (userSelectedFromChannelThread)="handleUserSelectionFromChannelThread($event)">
            </app-thread>
        </div>
    </div>
</div>

<div *ngIf="successfullyLogged" class="overlay"></div>
<mat-card *ngIf="successfullyLogged" appearance="outlined" class="login-sended-info"
    [ngClass]="{'visible': successfullyLogged, 'hidden': !successfullyLogged}">
    <mat-card-content class="success-login-content">
        <span class="sended-text">
            Login als <span class="guest-or-mail">
                <b>
                    {{
                    isGuestLogin
                    ? 'Gast'
                    : googleAccountLogIn
                    ? 'Google Nutzer'
                    : global.currentUserData.email
                    }}
                </b>
            </span>
        </span>
    </mat-card-content>
</mat-card>

<div class="overlay-contacts" *ngIf="isOverlayVisible && !successfullyLogged">
    <p>Lade Kontakte...</p>
    <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<div class="workspace-opener" [class.hovered]="isHovered" (click)="toggleWorkspace()" (mouseenter)="isHovered = true"
    (mouseleave)="isHovered = false">
    <p>{{ isWorkspaceOpen ? 'Workspace-Menü schließen' : 'Workspace-Menü öffnen'}}</p>

    <img class="workspace-drawer" [src]="getImageSource()"
        [alt]="isWorkspaceOpen  ? 'Hide workspace' : 'Show workspace'">
</div>