<div [ngClass]="{'page-content-plus-header': successfullyLogged}">  
    <app-header (headerChannelSelcted)="onHeaderchannelSelected($event)"  (headerUserSelected)="onHeaderUserSelected($event)"></app-header>
    <div class="full-page-content">
        <app-workspace [ngClass]="{
            'workspace-open': isWorkspaceOpen,
            'workspace-closed': !isWorkspaceOpen
        }" (userSelected)="onUserSelected($event)"
            (channelSelected)="onChannelSelected($event)"></app-workspace>
        <app-start-screen  [onHeaderChannel]="onHeaderChannel"  [onHeaderUser]="onHeaderUser" [selectedUser]="selectedUser" [mentionUser]="mentionUser" [selectedChannel]="selectedChannel"
            (threadOpened)="onThreadOpened()">
        </app-start-screen>
        <app-thread *ngIf="directThreadId || channelThreadId" [directThreadId]="directThreadId" [channelThreadId]="channelThreadId" (closeThread)="onThreadClosed()" [selectedUser]="selectedUser" [selectedChannel]="selectedChannel"></app-thread>
    </div>
</div>

<div *ngIf="successfullyLogged" class="overlay"></div>
<mat-card *ngIf="successfullyLogged" appearance="outlined" class="login-sended-info"
    [ngClass]="{'visible': successfullyLogged, 'hidden': !successfullyLogged}">
    <mat-card-content class="success-login-content">
        <span class="sended-text">
            Login als <span class="guest-or-mail">
                <b>
                    {{
                    isGuestLogin
                    ? 'Gast'
                    : global.googleAccountLogIn
                    ? (global.currentUserData.email || 'Google Nutzer')
                    : global.currentUserData.email
                    }}
                </b>
            </span>
        </span>
    </mat-card-content>
</mat-card>
<div class="workspace-opener" (click)="toggleWorkspace()" (mouseenter)="toggleHover()" (mouseleave)="toggleHover()">
    <p *ngIf="isWorkspaceOpen">Workspace-Menü schließen</p>
    <img class="workspace-drawer" *ngIf="isWorkspaceOpen && !isHovered" src="../../assets/img/hide-workspace-black.png" alt="">
    <img class="workspace-drawer" *ngIf="isWorkspaceOpen && isHovered" src="../../assets/img/hide-workspace-hover.png" alt="">
    <p *ngIf="!isWorkspaceOpen">Workspace-Menü öffnen</p>
    <img class="workspace-drawer" *ngIf="!isWorkspaceOpen && !isHovered" src="../../assets/img/show-workspace-black.png" alt="">
    <img class="workspace-drawer" *ngIf="!isWorkspaceOpen && isHovered" src="../../assets/img/show-workspace-hover.png" alt="">
</div>





<!-- [currentUser]="currentUser" -->