<app-header></app-header>
<div class="full-page-content">
    <app-workspace 
    (userSelected)="onUserSelected($event)"
    (channelSelected)="onChannelSelected($event)"
    ></app-workspace> 
    <app-start-screen 
    [selectedUser]="selectedUser"  [mentionUser]="mentionUser"
    [selectedChannel]="selectedChannel"
    (threadOpened)="onThreadOpened()"
     >
     </app-start-screen>
     <app-thread *ngIf="isThreadOpen" (closeThread)="onThreadClosed()"></app-thread>
</div>



<!-- [currentUser]="currentUser" -->