.page-content-plus-header {
  filter: blur(2px);
  transition: filter 0.3s ease;
}

.full-page-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 2000px;
  gap: 32px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.login-sended-info {
  width: fit-content;
  background-color: #444df2;
  color: white;
  box-shadow: 0px 6px 10px 0px #00000033;
  padding: 8px 12px;
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translateX(500px);
  transition: transform 0.5s ease-in-out;
  border-bottom-right-radius: unset;
}

.login-sended-info.visible {
  transform: translateX(0);
}

.login-sended-info.hidden {
  transform: translateX(500px);
}

.success-login-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sended-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  font-size: 20px;
}

.guest-or-mail {
  margin-left: 6px;
}
