.chat-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}

.message {
  margin: 8px 0;
}

.img-container {
  padding: 4px;
  border-radius: 100%;
  &:hover {
    background-color: #eceefe;
  }
  &:hover .icon path {
    fill: #444df2;
  }
}

.message-from-user {
  display: flex;
  gap: 30px;
  cursor: pointer;
  padding: 10px 0 10px 45px;
  position: relative;
  &:hover {
    background-color: #eceefe;
    .text-container > .text-content {
      background-color: white;
    }
  }
  img {
    height: 70px;
    border-radius: 100%;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .heading {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        font-family: Nunito;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.1px;
        color: #686868;
      }
    }
    .text-content {
      padding: 15px;
      border-top-left-radius: 0;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      background: #eceefe;
    }
  }
  .reaction-bar {
    position: absolute;
    top: -15px;
    right: 48px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid #ADB0D9;
    padding: 3px 15px 3px 20px;
    background-color: white;
    .img-container {
      display: flex;
    }
  }
}

.message-from-current {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 30px;
  cursor: pointer;
  padding: 10px 45px 10px 0px;
  position: relative;
  &:hover {
    background-color: #eceefe;
  }
  img {
    height: 70px;
    border-radius: 100%;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .heading {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 20px;
      span {
        font-family: Nunito;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.1px;
        color: #686868;
      }
    }
    .text-content {
      padding: 15px;
      border-top-left-radius: 30px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      background: #797ef3;
      color: white;
    }
  }
  .reaction-bar {
    position: absolute;
    top: -15px;
    left: 48px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid #ADB0D9;
    padding: 3px 15px 3px 20px;
    background-color: white;
    .img-container {
      display: flex;
    }
  }
}
